<!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area clearfix">
        
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="title wow fadeInUp" data-wow-delay="0.2s"><%= pagetitle %></h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= pagetitle %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->
	
	<!-- ##### Item Details Area Start ##### -->
    <section class="section-padding-100">
        <div class="container">

            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="detailed-img">
                        <img src="/img/art-work/detailed.jpg" alt="">
                    </div>
                </div>

                <div class="col-12 col-lg-4 mt-s">
                    <div class="sidebar-area">
                        <div class="donnot-miss-widget">
                            <div class="who-we-contant">
                                <div class="filers-list">
                                    <% focusItem.tag.forEach(function(onecat) { %>
									<a href="/explore" class="filter-item">
                                        <img src="/img/icons/f1.png" alt=""><%= onecat %>
                                    </a>
									<% }); %>
                                </div>
                                <h4 class="fadeInUp" data-wow-delay="0.3s"><%= focusItem.title %></h4>
                            </div>
                            <div class="mb-15 gray-text"><span class="w-text mr-15">Current Price <%= focusItem.price %> ETH </span>
							<span class="gray-text mr-15">$<%
							var needPay = Math.floor(parseFloat(focusItem.price)*100 * parseFloat(ETH_price))/100;
							%><%= needPay %></span></div>
                            <div class="details-list">
                                <p>Artist : <span><%= focusItem.author %></span></p>
                                <p>Size : <span><%= focusItem.size %></span></p>
                                <p>Created : <span><%= focusItem.dt_create_time %></span></p>
                                <p>Collection: <span><%= focusItem.collection %></span></p>
                            </div>
                            <div class="author-item mb-30">
                                <div class="author-img ml-0"><img src="/<%= focusItem.authorimg %>" width="70" alt=""></div>
                                <div class="author-info">
                                    <a href="/profile/<%= focusItem.authorid %>"><h5 class="author-name"><%= focusItem.author %></h5></a>
                                    <p class="author-earn mb-0">Item Owner</p>
                                </div>
                            </div>
                            <div class="highest-bid">
                                <h5 class="w-text mb-15">Highest Bid</h5>
                                <div class="admire">
                                    <div class="adm w-text"><img src="/<%= focusItem.highest_bid.authorimg %>" width="30" alt="" class="mr-5p"><%= focusItem.highest_bid.author %></div>
                                    <div class="adm"><img src="/img/art-work/fire.png" width="30" alt="" class="mr-5p">
									<span class="bold mr-5p"><%= focusItem.highest_bid.price %></span><span class="gray-text"> $<%
									var needPay = Math.floor(parseFloat(focusItem.highest_bid.price)*100 * parseFloat(ETH_price))/100;
									%><%= needPay %></span></div>
                                </div>
                            </div>
                            <a href="#test-popup" class="open-popup-link more-btn width-100 mt-30">Place Bid</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-s">
                    <h4 class="mb-15">Latest Bids</h4>
                    <div class="highest-bid bid-item">
					<% focusItem.bids.forEach(function(onecat) { %>
                        <div class="author-item">
                            <div class="author-img ml-0"><img src="/<%= onecat.authorimg %>" width="40" alt=""></div>
                            <div class="author-info">
                                <p>by<span class="w-text"><%= onecat.author %></span></p>
                                <p>Bid at<span class="w-text"> <%= onecat.price %> ETH</span></p>
                            </div>
                            <div class="bid-price">
                                <p>$<%
									var needPay = Math.floor(parseFloat(onecat.price)*100 * parseFloat(ETH_price))/100;
									%><%= needPay %></p>
                                <p><i class="fa fa-clock-o mr-5p"></i><%
								var date = new Date(parseInt(onecat.dt_create_time));
								// Hours part from the timestamp
								var hours = date.getHours();
								// Minutes part from the timestamp
								var minutes = "0" + date.getMinutes();
								var formattedTime = hours + ':' + minutes.substr(-2);
								%><%= formattedTime %></p>
                            </div>
                        </div>
					<% }); %>
                        
                        
                    </div>
                    <h4 class="mb-15 mt-30">History</h4>
                    <div class="highest-bid bid-item">
					<% focusItem.history.forEach(function(onecat) { %>
                        <div class="author-item">
                            <div class="author-img ml-0"><img src="/<%= onecat.authorimg %>" width="40" alt=""></div>
                            <div class="author-info">
                                <p><%= onecat.action %><span class="w-text"> <%= onecat.author %></span></p>
                                <p>Price<span class="w-text mr-15"> <%= onecat.price %> ETH</span></p>
							</div>
							<div class="bid-price">
							<p></p>
								<p><span><i class="fa fa-clock-o mr-5p"></i><%
								var date = new Date(parseInt(onecat.dt_create_time));
								// Hours part from the timestamp
								var hours = date.getHours();
								// Minutes part from the timestamp
								var minutes = "0" + date.getMinutes();
								var formattedTime = hours + ':' + minutes.substr(-2);
								
								%><%= formattedTime %></span></p>
                            </div>
                            
                        </div>
					<% }); %>
                    </div>
                    <div class="biding-end">
                        <h4 class="mb-15">Biding Ends In :</h4>
                        <!-- Countdown  -->
                        <!-- Countdown  -->
						<div class="count-down titled circled text-center">
							<div class="kcjmXv">
							<div class="timer-head-block"></div>
							<div class="timer-body-block">
							<div class="table-cell day"><div class="tab-val">0</div><div class="tab-metr tab-unit">days</div></div>
							<div class="table-cell hour"><div class="tab-val">0</div><div class="tab-metr tab-unit">hours</div></div>
							<div class="table-cell minute"><div class="tab-val">0</div><div class="tab-metr tab-unit">minutes</div></div>
							<div class="table-cell second"><div class="tab-val">0</div><div class="tab-metr tab-unit">seconds</div></div>
							</div><div class="timer-foot-block"></div>
							<input type="hidden" value="<%= focusItem.endbidtime %>"/>
							</div>
						</div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ##### Item Details Area End ##### -->
	<script>
	// Update the count down every 1 second
	var x = setInterval(function() {
		try {
		  $(".kcjmXv").each(function(index){
			//var biddingDate = $(this).find("input:last")[0].value; 
			//var countDownDate = new Date(biddingDate).getTime();
			var countDownDate = parseFloat($(this).find("input:last")[0].value);
			var now = new Date().getTime();
			var distance = countDownDate - now;
			//console.log(biddingDate,countDownDate,now,distance);
			
			if(distance > 0){
				var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			  var elements = $(this).find(".table-cell .tab-val");
				elements[0].innerHTML = days;
				elements[1].innerHTML = hours;
				elements[2].innerHTML = minutes;
				elements[3].innerHTML = seconds;
			}
			
		  });
		} catch (error) {
		  
		}
	}, 1000);
	</script>

    <div id="test-popup" class="white-popup mfp-hide">
      <div class="top-form-header">
          <h4>Place a Bid</h4>
      </div>
		<form action="#" method="get" id="main_login_form" novalidate="">
            <div class="row">
             
               <div class="col-12 col-md-12">
                    <div class="group">
                        <input type="text" name="name" id="name0" required="">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Your Bid Amount</label>
                    </div>
                    <p class="g-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas maxime quo magnam, rerum odio quia asperiores, voluptatum impedit sit, amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-12 col-sm-5 text-left ">
                    <button type="submit" class="btn more-btn">Place Bid</button>
                </div>
                
            </div>
        </form>

    </div>
	
	
	<!-- ##### Top Sellers Start ##### -->
    <section class="about-us-area section-padding-0-100 clearfix">
        
        <div class="container">
            <div class="row align-items-center">
                
                
                <div class="col-12 col-lg-12">
                    <div class="who-we-contant">
                        <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s" >
                            <span class="gradient-text ">Creative Creators</span>
                        </div>
                        <h4 class="fadeInUp" data-wow-delay="0.3s">Top Sellers This Month</h4>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="creator-sec dd-bg">
						<% topfan.forEach(function(onecat) { %>
                        <div class="author-item">
                            <div class="author-rank"><%= onecat.rank %></div>
                            <div class="author-img"><img src="/<%= onecat.authorimg %>" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="/profile/<%= onecat.authorid %>"><h5 class="author-name"><%= onecat.author %></h5></a>
                                <p class="author-earn mb-0"><%= onecat.authorspending %> ETH</p>
                            </div>
                        </div>
						<% }); %>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mt-s">
                    <div class="creator-sec dd-bg">
                        <% topfan2.forEach(function(onecat) { %>
                        <div class="author-item">
                            <div class="author-rank"><%= onecat.rank %></div>
                            <div class="author-img"><img src="/<%= onecat.authorimg %>" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="/profile/<%= onecat.authorid %>"><h5 class="author-name"><%= onecat.author %></h5></a>
                                <p class="author-earn mb-0"><%= onecat.authorspending %> ETH</p>
                            </div>
                        </div>
						<% }); %>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mt-s">
                    <div class="creator-sec dd-bg">
                        <% topfan3.forEach(function(onecat) { %>
                        <div class="author-item">
                            <div class="author-rank"><%= onecat.rank %></div>
                            <div class="author-img"><img src="/<%= onecat.authorimg %>" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="/profile/<%= onecat.authorid %>"><h5 class="author-name"><%= onecat.author %></h5></a>
                                <p class="author-earn mb-0"><%= onecat.authorspending %> ETH</p>
                            </div>
                        </div>
						<% }); %>
                    </div>
                </div>
					
			</div>
        </div>
    </section>
    <!-- ##### Top Authors End ##### -->
	
	
	<!-- ##### Top Collections Start ##### -->
    <section class="section-padding-0-70 clearfix" >
        <div class="container">
            
            <div class="section-heading text-center">
                
                <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                    <span>Our Top NFT</span>
                </div>
                <h2 class="fadeInUp" data-wow-delay="0.3s">Popular Collections</h2>
                <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
            </div>
                

            <div class="row">
				<% items.forEach(function(onecat) { %>
					<div class="col-12 col-md-6 col-lg-3">
						<!-- Content -->
						<a href="/item/<%= onecat.itemid %>" class="service_single_content collection-item wow fadeInUp" data-wow-delay="0.2s">
							<!-- Icon -->
							<div class="collection_icon">
								<img src="/<%= onecat.img %>" alt="">
							</div>
							<div class="collection_info">
								<h6><%= onecat.title %></h6>
								<p>Owner : <span class="w-text"><%= onecat.author %></span></p>
							</div>
							
						</a>
					</div>
				<% }); %>
				
			</div>
        </div>
    </section>