<!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area clearfix">
        
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="title wow fadeInUp" data-wow-delay="0.2s"><%= pagetitle %></h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= pagetitle %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->


	<!-- ##### Area Start ##### -->
    <section class="blog-area section-padding-100">
        <div class="container">

            <div class="row">
				<% if(typeof profile != "undefined"){ %>
                <div class="col-12 col-lg-3">
					<% if(typeof editID != "undefined"){ %>
					<form method="post" target="/editprofile" id="editForm" enctype="multipart/form-data" novalidate>
					<div class="service_single_content collection-item">
                        <!-- Icon -->
                        <div class="collection_icon">
                            <img src="<%= profile.authorheader %>" id="profile-header" class="center-block" 
							alt="Image not found" 
							<% /*if(typeof profile.authorIPFSheader != "undefined"){ %>
							onerror="this.onerror=null;this.src='<%= profile.authorIPFSheader %>';"
							<% }*/ %>
							>
								<label class="btn" for="my-file-selector">
									<input id="my-file-selector" name="profile-header" type="file" 
									accept="image/*" class="d-none" onChange='changeImg(this,"profile-header")'>
									Change Image
								</label>
							</img>
							
                        </div>
						
                        <span class="aut-info">
                            <img src="<%= profile.authorimg %>" width="50" id="profile-img" 
							alt="Image not found" 
							<% /*if(typeof profile.authorIPFSimg != "undefined"){ %>
							onerror="this.onerror=null;this.src='<%= profile.authorIPFSimg %>';"
							<% }*/ %>
							>
							
							<label class="btn" for="my-file-selector2">
								<input id="my-file-selector2" name="profile-img" type="file" 
								accept="image/*" class="d-none" onChange='changeImg(this,"profile-img")'>
								Change<br>Profile
							</label>
                        </span>
						<script>
						function changeImg(target,imageID){
							//console.log(target.files[0],imageID);
							//$().attr('src', e.target.result);
							if(target && target.files[0]){
								if(target.files[0].size > 4*1048576){
								   alert("Please limit the file size to be 4MB or below.");
								   target.value = "";
								}else readURL(target.files[0],'#'+imageID);
							}
						}
						function readURL(src,pointingID){
							if(!src) return;
							var reader = new FileReader();	        
							reader.onload = function (e) {
								$(pointingID).attr('src', e.target.result);
							}
							reader.readAsDataURL(src);
						}
						</script>
						<style>
						.collection_icon .btn {
							position: absolute;
							top: 8%;
							left: 50%;
							transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							background-color: transparent;
							color: white;
							font-size: small;
							border: none;
							cursor: pointer;
							border-radius: 5px;
							opacity: 0;
							line-height: 500%;
							width: 80%;
							height: 13%;
							text-align: center;
						}
						.collection_icon .btn:hover {
							background-color: black;
							opacity: 0.5;
						}
						.aut-info .btn {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							background-color: transparent;
							color: white;
							font-size: smaller;
							border: none;
							cursor: pointer;
							border-radius: 5px;
							opacity: 0;
						}
						.aut-info .btn:hover {
							background-color: black;
							opacity: 1;
						}
						</style>
                        <div class="collection_info text-center">
							
								<h6><input style="width:100%" type="text" id="name" name="name" value="<%= profile.name %>"/></h6>
								<p class="w-text mr-5p"><input style="width:100%" type="text" name="title" value="<%= profile.title %>"/></p>
								<p class="mt-15"><textarea style="width:100%" name="description"><%= profile.description %></textarea></p>
								<div class="search-widget-area mt-15">
									<div>
										<input type="text" name="wallet" id="wallet" value="<%= profile.shortAddr %>">
										<button type="button" class="btn" data-clipboard-text="<%= profile.longAddr %>">
									<i class="fa fa-copy"></i></button>
									</div>
								</div>
								<ul class="social-links mt-15">
								  <li>
								  <span class="fa fa-facebook-f"></span>
								  <input type="text" style="width:100%" name="facebook" 
								  value="<% if(profile.socialnetwork.facebook){ %><%= profile.socialnetwork.facebook %><% }else{ %>#<% } %>"/>
								  </li>
								  <li>
								  <span class="fa fa-twitter"></span>
								  <input type="text" style="width:100%" name="twitter" 
								  value="<% if(profile.socialnetwork.twitter){ %><%= profile.socialnetwork.twitter %><% }else{ %>#<% } %>"/>
								  </li>
								  <li>
								  <span class="fa fa-linkedin"></span>
								  <input type="text" style="width:100%" name="linkedin" 
								  value="<% if(profile.socialnetwork.linkedin){ %><%= profile.socialnetwork.linkedin %><% }else{ %>#<% } %>"/>
								  </li>
								  <li>
								  <span class="fa fa-instagram"></span>
								  <input type="text" style="width:100%" name="instagram" 
								  value="<% if(profile.socialnetwork.instagram){ %><%= profile.socialnetwork.instagram %><% }else{ %>#<% } %>"/>
								  </li>
							   </ul>
							   <input type="hidden" id="signatureObject" name="signatureObject" value="">
								<button type="button" onclick="onSubmitForm()" class="more-btn mt-15">Edit</a>
								
                        </div>
                        
                    </div>
					</form>
						<script>
						function onSubmitForm(){
							if(!$("#name")[0].value || !$("#wallet")[0].value){
								alert("Please fill in the required information and agree with the terms and conditions");
								return false;
							}
							if(!provider || !localStorage.getItem('myAccount')){
								alert("Not connected with valid wallet");
								return false;
							}
							const web3 = new Web3(provider);
							var signatureObject = web3.eth.personal.sign(web3.utils.utf8ToHex("Confirm editing the information"), localStorage.getItem('myAccount'),"solon is handsome"+new Date().getTime())
							.then(function(signatureObject){
								if(signatureObject){
									var formData = new FormData($("#editForm")[0]);
									document.getElementById("signatureObject").value = signatureObject;
									$.ajax({
									   type: "POST",
									   url: "/editprofile",
									   data: formData,
									   processData: false,
										contentType: false,
										cache: false,
									   success: function(data)
									   {
											if(!data || typeof data !== "object"){
												alert("Edit profile failed:"+data);
												return;
											}else{
												var insertID = data;
												insertID = (insertID.result)? insertID.result : false;
												if(insertID && insertID =="success"){
													alert("Edit profile submitted. Please wait for the profile update.");
													location.reload();
												}else alert("Edit profile failed. Please retry");
												//location.reload();
											}
									   }
									 });
								}
							});									
							return false;
						}
						</script>
					<% }else{ %>
                   <div class="service_single_content collection-item">
                        <!-- Icon -->
                        <div class="collection_icon">
							<img src="<%= profile.authorheader %>" id="profile-header" class="center-block" 
							alt="Image not found" 
							<% if(typeof profile.authorIPFSheader != "undefined"){ %>
							onerror="this.onerror=null;this.src='<%= profile.authorIPFSheader %>';"
							<% } %>
							>
                        </div>
                        <span class="aut-info">
                            <!--<img src="/img/authors/2.png" width="50" alt="">-->
							<img src="<%= profile.authorimg %>" width="50" id="profile-img" 
							alt="Image not found" 
							<% if(typeof profile.authorIPFSimg != "undefined"){ %>
							onerror="this.onerror=null;this.src='<%= profile.authorIPFSimg %>';"
							<% } %>
							>
                        </span>
                        <div class="collection_info text-center">
							
							
							
                            <h6><%= profile.name %></h6>
                            <p class="w-text mr-5p"><%= profile.title %></p>
                            <p class="mt-15"><%= profile.description %></p>

                            <div class="search-widget-area mt-15">
                                <div>
									<input type="text" name="wallet" id="wallet" value="<%= profile.shortAddr %>">
									<button type="button" class="btn" data-clipboard-text="<%= profile.longAddr %>">
									<i class="fa fa-copy"></i></button>
								</div>
                            </div>
							
                            <ul class="social-links mt-15">
                              <li><a href="https://www.facebook.com/<% if(profile.socialnetwork.facebook){ %><%= profile.socialnetwork.facebook %><% }else{ %>#<% } %>">
							  <span class="fa fa-facebook-f"></span></a></li>
                              <li><a href="https://www.twitter.com/<% if(profile.socialnetwork.twitter){ %><%= profile.socialnetwork.twitter %><% }else{ %>#<% } %>">
							  <span class="fa fa-twitter"></span></a></li>
                              <li><a href="https://www.linkedin.com/<% if(profile.socialnetwork.linkedin){ %><%= profile.socialnetwork.linkedin %><% }else{ %>#<% } %>">
							  <span class="fa fa-linkedin"></span></a></li>
                              <li><a href="https://www.instagram.com/<% if(profile.socialnetwork.instagram){ %><%= profile.socialnetwork.instagram %><% }else{ %>#<% } %>">
							  <span class="fa fa-instagram"></span></a></li>
                           </ul>

                            <a href="#" class="more-btn mt-15">Follow</a>
							
							
                        </div>
                        
                    </div>
					<% } %>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
					<script>
					var clipboard = new ClipboardJS('.btn');
					//function preventSubmit(){ return false; }
					</script>
                </div>
				<div class="col-12 col-md-9">
				
				
				<% }else{ %>
                <div class="col-12">
					<div class="section-heading text-center">
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Recent Listed Works</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s"><a href="/create-item" class="btn more-btn">Create NFT</a></p>
                    </div>
				
				<% } %>
                    <!-- Projects Menu -->
                    <div class="dream-projects-menu mb-50">
                        <div class="text-center portfolio-menu">
						<% category.forEach(function(onecat) { %>
							<button class="btn" data-filter="<%= onecat.tag %>"><%= onecat.name %></button>
						<% }); %>
						 </div>
                    </div>
                    <div class="row">
                        
                        <div class="container">
                            <div class="row dream-portfolio">
							
							<% items.forEach(function(onecat) { %>

							<!-- Single gallery Item -->
							<% if(typeof profile != "undefined"){ %>
							<div class="col-12 col-sm-6 col-lg-4 single_gallery_item <%= onecat.tag %>">
							<% }else{ %>
							<div class="col-12 col-sm-6 col-lg-3 single_gallery_item <%= onecat.tag %>">
							<% } %>
								<div class="pricing-item ">
									<div class="wraper">
										<a href="/item/<%= onecat.itemid %>"><img src="/<%= onecat.img %>" alt=""></a>
										<a href="/item/<%= onecat.itemid %>"><h4><%= onecat.title %></h4></a>
										<% if(typeof profile != "undefined"){ %>
										<div class="owner-info">
											<img src="/<%= onecat.authorimg %>" width="40" alt="">
											<a href="/profile/<%= onecat.authorid %>"><h3><%= onecat.author %></h3></a>
										</div>
										<% } %>
										<span>
										<span class="g-text">Price</span> 
										<% if(onecat.price){ %>
										<%= onecat.price %> ETH
										<% } %>
										<!--<span class="g-text ml-15">1 of 10</span>-->
										</span>
										<div class="pricing">Highest Bid :  
										<% if(onecat.bid){ %>
										<span class="ml-15"><%= onecat.bid %> ETH</span>
										<% }else{ %>
										<span class="ml-15"></span>
										<% } %>
										</div>					
										<div class="admire">
											<div class="adm"><i class="fa fa-clock-o"></i><%= onecat.updatetime %></div>
											<div class="adm"><i class="fa fa-heart-o"></i><%= onecat.likes %> Like</div>
										</div>
									</div>
								</div>
							</div>
							
							<% }); %>								
								
							</div>

                            <!--<div class="col-12 col-lg-12 text-center">
                                <a class="btn more-btn fadeInUp" data-wow-delay="0.6s" href="discover.html">Load More</a>
                            </div>
							-->
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->